@import url('https://cdn.lineicons.com/3.0/lineicons.css');

textarea{
  height: 150px;
}

.heroBanner_list,
.featColumn_list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.heroBanner_list .heroBanner_img_1,
.heroBanner_list .heroBanner_img_2,
.heroBanner_list .heroBanner_img_3,
.insight_img,
.ghs_feat_column_select_1,
.ghs_feat_column_select_2,
.ghs_feat_column_select_3{
  width: 100%;
}

.heroBanner_listItem,
.ghs_insight_wrapper,
.ghs_feat_column{
  display: flex;
  flex-direction: column;
  width: 30%;
}

.heroBanner_listItem *,
.ghs_insight_wrapper *,
.ghs_feat_column *{
  margin-bottom: 1rem;
}

.game_lock_icon_wrapper .insight_img{
  width: 35%;
}

.heroBanner_listItem:last-child{
  margin-bottom: 0;
}

.heroBanner_list #profile-picture_1,
.heroBanner_list #profile-picture_2,
.heroBanner_list #profile-picture_3,
.insight_bg,
.ghs_feat_column_icon{
  display: none;
}

.ghs_insight_wrapper{
  width: 50%;
}

.ghs_social{
  display: flex;
}

.ghs_social input{
  width: 80%;
  margin-bottom: 1rem;
}

.ghs_add_button{
  width: 95%;
  height: 50px;
  display: flex;
  justify-content: center;
  color: lightgrey;
  border: solid .5rem lightgrey;
  font-size: 2rem;
  font-weight: bolder;
}

.ghs_add_button:hover{
  cursor: pointer;
  color: grey;
  border: solid .5rem grey;
}

.ghs_employee_list{
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.ghs_employee_list li{
  width: 31%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  align-items: center;
}

.ghs_employee_list li *{
  width: 100%;
  margin-bottom: .5rem;
}

.ghs_delete_button{
  cursor: pointer;
  width: 1.5rem !important;
  height: 1.5rem;
  border-radius: 2rem;
  border: red .3em solid;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-weight: bolder;
}

.ghs_add_button{
  width: 95%;
  height: 50px;
  display: flex;
  justify-content: center;
  color: lightgrey;
  border: solid .5rem lightgrey;
  font-size: 2rem;
  font-weight: bolder;
}

.ghs_add_button:hover{
  cursor: pointer;
  color: grey;
  border: solid .5rem grey;
}

.ghs_employee_list,
.ghs_spotlight_list{
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.ghs_employee_list li,
.ghs_spotlight_list li{
  width: 31%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  align-items: center;
}

.ghs_employee_list li *,
.ghs_spotlight_list li *{
  width: 100%;
  margin-bottom: .5rem;
}

.ghs_delete_button{
  cursor: pointer;
  width: 1.5rem !important;
  height: 1.5rem;
  border-radius: 2rem;
  border: red .3em solid;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-weight: bolder;
}

.contact-group{
  width: 45%;
  margin-bottom: 2rem;
}

.contact-group *{
  width: 100%;
  margin-bottom: .5rem;
}