@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

$colour: #1f1f1f;
$secondColor: #fff;
$primaryColor: #977fff;
$primaryColorBorder: #8771df;
$primaryColorHover: #5c4d97;
$primaryColorBorderHover: #473c74;

body {
  background-color: $colour;
}

.ghs_primary_text_color{
  color: $primaryColor;
  fill: $primaryColor;
}

p, h1, h2, h3, h4, h5, .ghs_single_post, .ghs_white_text{
  color: $secondColor;
  font-family: 'Mulish', sans-serif;
}

h1, h2, h3, h4, h5, .badge, .btn{
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
}

.badge{
  background: $primaryColor;
  border: $primaryColorBorder;
}

.btn{
  background: $primaryColor !important;
  border: $primaryColorBorder !important;
}

.badge:hover{
  background: $primaryColorHover;
  background: $primaryColorBorderHover;
}

.btn:hover:hover{
  background: $primaryColorHover !important;
  background: $primaryColorBorderHover !important;
}

.btn-primary:hover,
.ghs_feat_post_info:hover{
  color: $secondColor !important;
}

.ghs_primary_link, .ghs_single_post a, a{
  color: $primaryColor;
  text-decoration: none;
}

.ghs_primary_link:hover, .ghs_single_post a:hover, a:hover{
  color: $primaryColorHover;
}

h5 .ghs_primary_link{
  color: $secondColor;
}

h5 .ghs_primary_link:hover{
  color: $primaryColor;
}

.navbar{
  height: 6rem;
}

.navbar-dark{
  background: $colour !important;
}

#carouselExampleCaptions{
  height: 88vh;
}

.carousel-inner, .carousel-item, .carousel-item .img{
  height: 100%;
}

.carousel-item{
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

.carousel-caption {
  right: 100%;
  bottom: 50%;
  background: #0c0c0c;
}

.carousel-caption h5, .ghs_insight_title{
  font-size: 3.25rem;
  font-weight: bold;
  word-break: break-all;
  word-wrap: break-word;
  width: 25vw;
}

.carousel-caption p{
  font-size: 2.25rem;
  word-break: break-all;
  word-wrap: break-word;
  width: 25vw;
}

.ghs_full_width{
  width: 100%;
}

.ghs_feat_post{
  border: rgba(181, 181, 181, 0.69) 1px solid;
}

.ghs_feat_post_post_data{
  padding-left: 0;
  color: $secondColor;
  list-style-type: disc;
}

.ghs_feat_post_post_data > li{
  margin-right: 2rem;
}

.ghs_feat_post_post_data p{
  padding-top: 1rem;
}

.rounded-circle{
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
}

.ghs_feat_post_info{
  top: 1rem;
  right: 1rem;
}

.ghs_section_header, .ghs_insight_header{
  font-size: 2em;
}

.ghs_insight, .ghs_feat_page_image{
  min-height: 60vh;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

.ghs_insight_title{
  width: auto;
}

.ghs_feat_column_icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.ghs_border_bottom{
  border-bottom: 1px grey solid;
}

.ghs_social_icons{
  display: flex;
  flex-direction: column;
}

.ghs_social_icons ul{
  display: flex;
  list-style: none;
  padding-left: 0;
}

.ghs_social_icons ul>li{
  margin-right: auto;
}

.ghs_social_icons svg{
  fill: grey;
  width:1.2em;
  height:1.2em;
}

.ghs_social_icons svg:hover{
  fill: $secondColor;
}

.ghs_social_icons a{
  text-decoration: none;
}

.ghs_footer_list {
  padding-left: 0;
  list-style: none;
}

.pagination .page-link{
  color: $colour;
}

.active .page-link{
  color: $secondColor;
  background-color: $primaryColor;
  border-color: $primaryColor;
}

.ghs_side_card_title, .card-header{
  background-color: #646464;
}

.ghs_side_card ul{
  background-color: #2a2a2a;
  color: $secondColor;
  list-style-type: disclosure-closed;
}

.ghs_side_card ul li{
  border-bottom: grey 1px solid;
}

.ghs_sponsor img{
  width: 100%;
  height: auto;
}

.ghs_half_forms div{
  width: 49%;
}

.comments{
  color: $secondColor;
}

.comment-form-comment .form-control{
  height: 10rem;
}

.ghs_comment_commenter_info p{
  padding: 0;
  margin: 0;
}

.ghs_comment_list .list-group-item{
  background-color: #2a2a2a;
  color: $secondColor;
}

.game_data{
  list-style: none;
}

.ghs_user_dropdown .dropdown-menu.show{
  left: -2rem;
}

.ghs_user_dropdown p{
  margin-bottom: 0;
}

.ghs_user_dropdown a *,
.ghs_user_dropdown .dropdown-toggle::after{
  align-self: flex-end;
}

.ghs_user_dropdown .dropdown-toggle::after{
  margin-bottom: .3rem;
  margin-left: .5rem;
}

.ghs_employee_team img{
  width: 100%;
  height: auto;
}

.ghs_employee_team:after{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0.5rem;
  left: 0.5rem;
  background: linear-gradient(to bottom, rgba(255,0,0,0) 0%, $colour 100%);
}

.ghs_employee_team_text{
  bottom: 1rem;
  left: 1rem;
  width: 87%;
  z-index: 99999;
}

.ghs_employee_team_text p{
  margin-bottom: 0;
}

.ghs_employee_team_name{
  font-size: 2em;
}

.ghs_employee_team_pos{
  font-size: 1.2em;
}

.ghs_spotlight ul{
  list-style: none;
  padding: 0;
}

.ghs_spotlight li{
  margin-bottom: 1rem;
}

.ghs_spotlight_image img{
  width: 100%;
  height: auto;
}

.ghs_spotlight_number{
  width: 2rem !important;
  height: 2rem;
  border-radius: 2.5rem;
  border: $primaryColor .2em solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

@media screen and (max-width: 992px) {

  .ghs_insight {
    background: none !important;
  }

  .ghs_feat_post_post_data{
    list-style-type: none;
  }

  .ghs_user_dropdown .dropdown-menu.show{
    left: 0rem;
  }

  .ghs_employee_team:after{
    position: absolute;
    content: "";
    height: 98%;
    width: 97%;
    top: 0.5rem;
    left: 0.5rem;
    background: linear-gradient(to bottom, rgba(255,0,0,0) 0%, $colour 100%);
  }

}