@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

$colour: #1f1f1f;
$secondColor: #fff;
$primaryColor: #977fff;
$primaryColorBorder: #8771df;
$primaryColorHover: #5c4d97;
$primaryColorBorderHover: #473c74;

body {
  background-color: $colour;
}

.ghs_primary_text_color{
  color: $primaryColor;
  fill: $primaryColor;
}

p, h1, h2, h3, h4, h5{
  color: $secondColor;
  font-family: 'Mulish', sans-serif;
}

h1, h2, h3, h4, h5, .badge, .btn{
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
}

.badge{
  background: $primaryColor;
  border: $primaryColorBorder;
}

.btn{
  background: $primaryColor !important;
  border: $primaryColorBorder !important;
}

.badge:hover{
  background: $primaryColorHover;
  background: $primaryColorBorderHover;
}

.btn:hover:hover{
  background: $primaryColorHover !important;
  background: $primaryColorBorderHover !important;
}

.btn-primary:hover,
.ghs_feat_post_info:hover{
  color: $secondColor !important;
}

.ghs_primary_link{
  color: $primaryColor;
  text-decoration: none;
}

.ghs_primary_link:hover{
  color: $primaryColorHover;
}

h5 .ghs_primary_link{
  color: $secondColor;
}

h5 .ghs_primary_link:hover{
  color: $primaryColor;
}

.navbar{
  height: 6rem;
}

.navbar-dark{
  background: $colour !important;
}

#carouselExampleCaptions{
  height: 88vh;
}

.carousel-inner, .carousel-item, .carousel-item .img{
  height: 100%;
}

.carousel-item{
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

.carousel-caption {
  right: 100%;
  bottom: 50%;
  background: #0c0c0c;
}

.carousel-caption h5, .ghs_insight_title{
  font-size: 3.25rem;
  font-weight: bold;
  word-break: break-all;
  word-wrap: break-word;
  width: 25vw;
}

.carousel-caption p{
  font-size: 2.25rem;
  word-break: break-all;
  word-wrap: break-word;
  width: 25vw;
}

.ghs_full_width{
  width: 100%;
}

.ghs_feat_post{
  border: rgba(181, 181, 181, 0.69) 1px solid;
}

.ghs_feat_post_post_data{
  padding-left: 0;
  color: $secondColor;
  list-style-type: disc;
}

.ghs_feat_post_post_data > li{
  margin-right: 2rem;
}

.ghs_feat_post_post_data p{
  padding-top: 1rem;
}

.ghs_feat_post_post_data img{
  margin-right: 1rem;
  width: 2rem;
}

.ghs_feat_post_info{
  top: 1rem;
  right: 1rem;
}

.ghs_section_header, .ghs_insight_header{
  font-size: 2em;
}

.ghs_insight, .ghs_feat_page_image{
  min-height: 60vh;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

.ghs_insight_title{
  width: auto;
}

.ghs_feat_column_icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.ghs_border_bottom{
  border-bottom: 1px grey solid;
}

.ghs_social_icons{
  display: flex;
  flex-direction: column;
}

.ghs_social_icons ul{
  display: flex;
  list-style: none;
  padding-left: 0;
}

.ghs_social_icons ul>li{
  margin-right: auto;
}

.ghs_social_icons svg{
  fill: grey;
  width:1.2em;
  height:1.2em;
}

.ghs_social_icons svg:hover{
  fill: $secondColor;
}

.ghs_social_icons a{
  text-decoration: none;
}

.ghs_footer_list {
  padding-left: 0;
  list-style: none;
}

.pagination .page-link{
  color: $colour;
}

.active .page-link{
  color: $secondColor;
  background-color: $primaryColor;
  border-color: $primaryColor;
}

.ghs_side_card_title{
  background-color: #646464;
}

.ghs_side_card ul{
  background-color: #2a2a2a;
  color: $secondColor;
  list-style-type: disclosure-closed;
}

.ghs_side_card ul li{
  border-bottom: grey 1px solid;
}

.ghs_sponsor img{
  width: 100%;
  height: auto;
}

@media screen and (max-width: 992px) {

  .ghs_insight {
    background: none !important;
  }

  .ghs_feat_post_post_data{
    list-style-type: none;
  }

}