@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css");

$colour: #666;

body {
  background-color: $colour;
}

.navbar{
  height: 6rem;
}

#carouselExampleCaptions{
  height: 88vh;
}

.carousel-inner, .carousel-item, .carousel-item .img{
  height: 100%;
}